/*上传图片框样式*/

.img_text{
		  position: absolute;
		  right: 0;
		  left: 0;
		  top: 0;
		  bottom: 0;
		  text-align: center;
		  color: #FFF;
		  background-color: rgba(0,0,0,.55);
		  opacity: 0;
		  filter: alpha(opacity=0);
		  -webkit-transition: all .2s ease;
		  -o-transition: all .2s ease;
		  transition: all .2s ease;
		  text-align:center;
		  margin-left: 12px;
		  margin-right: 12px;
					
}
.img_text>.inner {
	  padding-top:40px;
	  margin: 0;
	  display: inline-block;
	  vertical-align: middle;
	  max-width: 90%;
	  
}
.img_text:hover {
	 opacity: 1;
}